<%- include("partials/navbar.ejs") %>

   <!--Page Header -->
   <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
      <div class="container position-relative px-4 px-lg-5">
         <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
               <div class="site-heading">
                  <h1>Blog App</h1>
                  <span class="subheading">A Blog App</span>
               </div>
            </div>
         </div>
      </div>
   </header>

   <main>

      <div class="container px-4 px-lg-5">
         <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

               <a class="btn btn-outline-primary mb-5 w-100" href="/create">Create New Post</a>

               <% posts.forEach(post=> { %>
                  <!-- Post preview -->
                  <div class="post-preview">
                     <a href="/post/<%= post.id %>">
                        <h2 class="post-title">
                           <%= post.title %>
                        </h2>
                        <h3 class="post-subtitle">
                           <%= post.subtitle %>
                        </h3>
                        <!-- <h3 class="post-subtitle">
                        <%= post.content %>
                     </h3> -->
                        <div class="d-flex justify-content-between gap-2">
                           <div>
                              <p class="post-meta">
                                 <%= post.date %>
                              </p>
                           </div>
                           <div class="d-flex justify-content-evenly align-items-center gap-2">
                              <a class="btn btn-outline-primary" href="/edit/<%= post.id %>">Edit</a>
                              <form action="/delete/<%= post.id %>" method="POST">
                                 <button class="btn btn-outline-danger" type="submit">Delete</button>
                              </form>
                           </div>
                        </div>
                     </a>
                  </div>
                  <!-- Divider-->
                  <hr class="my-4" />
                  <% }); %>

                     <!-- Pager-->
                     <!-- <div class="d-flex justify-content-end my-5">
                        <a class="btn btn-primary text-uppercase" >Older Posts→</a>
                     </div> -->
            </div>
         </div>
      </div>

      <%- include('partials/footer.ejs') %>